* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 50%;
  height: 100vh;
  background: #f53b3b;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    font-family: 'Inter' 'Helvetica', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

p {
    font-family: 'Inter' 'Helvetica', sans-serif;
    font-size: 2em;
    line-height: 1em;
    font-weight: 100;
}

.container {
  position: relative;
}

.container h1 .name,
.container h1 .country,
.container h1 .montreal {
  text-decoration: underline;
  cursor: pointer;
}

.container img {
  position: absolute;
  width: 400px;
  transform: translate(-50%, -50%);
  display: none;
  pointer-events: none;
  z-index: -1;
  filter: grayscale(1);
}

